# python_programming_practice
## Chapter 02. 자료형 (Data types)
### 02-2. 문자열 자료형 (string)
#### 문자열 만들기

In [1]:
# 문자열 만들기
# 1. 큰따옴표
"Helllo World"

'Helllo World'

In [2]:
# 2. 작은따옴표
'Python is fun'

'Python is fun'

In [3]:
# 3. 큰따옴표 3개
"""Life is too short, You need python"""

'Life is too short, You need python'

In [4]:
# 4. 작은따옴표 3개
'''You need python, cause life is too short'''

'You need python, cause life is too short'

#### 문자열 안에 따옴표(', ") 포함시키기

In [5]:
# 1. 문자열에 작은 따옴표 포함하기
food = "Python's favorite food is perl"

In [6]:
food

"Python's favorite food is perl"

In [7]:
# Syntax error
# 'Jang's favorite food is perl.'

In [8]:
# 2. 큰따옴표 포함
say = '"This is easy." he says.'
say

'"This is easy." he says.'

In [9]:
# 3. \ 사용
food = 'Jang\'s food is perl.'
say = "\"This is easy.\" he says."
print(food)
print(say)

Jang's food is perl.
"This is easy." he says.

#### 여러줄의 문자열을 변수에 대입

In [10]:
# 1. \n 삽입
multiline = "Life is too short.\nYou need python."
print(multiline)

Life is too short.
You need python.

In [11]:
# 2. ''' 또는 """ 사용
new_multiline = '''
Life is too short.
You need python.
'''
print(new_multiline)

Life is too short.
You need python.

#### 문자열 연산

In [12]:
# 문자열 덧셈
head = "python"
tail = " is fun!"
print(head + tail)

python is fun!

In [13]:
# 문자열 곱셈
data = "python"
print(data * 3)

pythonpythonpython

In [14]:
# 문자열 곱셈 응용
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [15]:
# 문자열 길이 구하기
str = "Life is too short"
len(str)

17

In [16]:
new_str = "You need python"
len(new_str)

15

#### 문자열 인덱싱(indexing)과 슬라이싱(slicing)

In [17]:
# 문자열 인덱싱
str = "Life is too short, You need Python."
str

'Life is too short, You need Python.'

In [18]:
str[3]

'e'

In [19]:
# 문자열 인덱싱 활용하기
print(str[0])
print(str[12])
print(str[-1])

L
s
.

In [20]:
str[-0]

'L'

In [21]:
print(str[-2])
print(str[-5])

n
t

In [22]:
# 문자열 슬라이싱
str = "Life is too short, You need Python"
word = str[0] + str[1] + str[2] + str[3]
word

'Life'

In [23]:
new_word = str[0:4]
new_word

'Life'

In [24]:
str[0:5]

'Life '

In [25]:
str[5:7]

'is'

In [26]:
str[12:17]

'short'

In [27]:
str[19:]

'You need Python'

In [28]:
str[:17]

'Life is too short'

In [29]:
str[:]

'Life is too short, You need Python'

In [30]:
str[19:-7]

'You need'

In [31]:
# 슬라이싱으로 문자열 나누기
data = "20250115cloudy"
date = data[:8]
weather = data[8:]

In [32]:
date

'20250115'

In [33]:
weather

'cloudy'

In [34]:
year = data[:4]
day = data[4:8]
print(year)
print(day)

2025
0115

In [35]:
# 문자열 수정
a = "Pithon"
a[1]

'i'

In [36]:
# TypeError
# a[1] = 'y'

In [37]:
a[:1] + 'y' + a[2:]

'Python'

#### 문자열 포매팅 (string formatting)

In [38]:
# 1. 숫자 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [39]:
# 2. 문자열 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [40]:
# 3. 변수 대입
number = 4
"I eat %d apples." % number

'I eat 4 apples.'

In [41]:
# 4. 두 개 이상의 값
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." % (number, day)

'I ate 10 apples, so I was sick for three days.'

In [42]:
# %s는 어떤 형태의 값이든 넣을 수 있다
"I have %s apples." % 3

'I have 3 apples.'

In [43]:
"rate is %s" % 3.14

'rate is 3.14'

In [44]:
"Error is %d%%." % 98

'Error is 98%.'

#### 포맷코드와 숫자 함께 사용하기

In [45]:
# 1. 정렬과 공백
"%10s" % "hi"

'        hi'

In [46]:
"%-10sjane" % "hi"

'hi        jane'

In [47]:
# 2. 소수점 표현하기
"%0.4f" % 3.23324

'3.2332'

In [48]:
"%08.4f" % 12.34

'012.3400'

In [49]:
"%10.4f" % 3.423134123

'    3.4231'

In [50]:
"%010.05f" % 12.34

'0012.34000'

In [51]:
"%-010.05f" % 23.45

'23.45000  '

#### format 함수를 사용한 포매팅
- `"문자열".format()`

In [52]:
# 숫자 바로 대입
"I eat {0} apples".format(3)

'I eat 3 apples'

In [53]:
# 문자열 대입
"I eat {0} apples.".format("five")

'I eat five apples.'

In [54]:
# 변수 대입
number = 10
day = "three"
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [55]:
# 변수 이름으로 넣기, 초기화 필수
"I ate {number} bananas, so I was happy for {day} days.".format(number = 5, day = "two")

'I ate 5 bananas, so I was happy for two days.'

In [56]:
# 인덱스와 이름 혼용해서 넣기
"I ate {0} apples, so I was high for {day} days.".format(3, day = "seven")

'I ate 3 apples, so I was high for seven days.'

In [57]:
# 왼쪽 정렬 `:<`
"{0:<10}".format("hi")

'hi        '

In [58]:
# 오른쪽 정렬 :>
"{0:>10}".format("hi")

'        hi'

In [59]:
# 가운데 정렬 :^
"{0:^10}".format("hi")

'    hi    '

In [60]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [61]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [62]:
# 소수점 표현하기
y = 123.154245
"{0:0.4f}".format(y)

'123.1542'

In [63]:
"{0:010.4f}".format(y)

'00123.1542'

In [64]:
# 문자 표현하기
"{{ and }}".format()

'{ and }'

#### f 문자열 포매팅
- python 3.6 이상부터 사용가능

In [65]:
# 문자열 앞에 f 접두사
name = "홍길동"
age = 30
f"나의 이름은 {name}이고, 나이는 {age}세 입니다."

'나의 이름은 홍길동이고, 나이는 30세 입니다.'

In [66]:
# 계산식 지원
f'나는 내년에 {age + 1}세가 됩니다.'

'나는 내년에 31세가 됩니다.'

In [67]:
# 딕셔너리 사용
d = {'name':'김가인', 'age':30}
f'나의 이름은 {d['name']}입니다. 나이는 {d['age']}세 입니다.'

'나의 이름은 김가인입니다. 나이는 30세 입니다.'

In [68]:
# 정렬
f'Hi. {"hello":<10}'

'Hi. hello     '

In [69]:
f'Hi. {"Hello0":>10}'

'Hi.     Hello0'

In [70]:
f'Hi. {'Hello':^10}'

'Hi.   Hello   '

In [71]:
# 공백 채우기
f'Hi. {"Hello":=^10}'

'Hi. ==Hello==='

In [72]:
f'Hi. {"Hello":!<10}'

'Hi. Hello!!!!!'

In [73]:
say = "Hello"
f'Hi. {say:=^10}'

'Hi. ==Hello==='

In [74]:
# 소수점 표현
num = 321.341132451
f'number: {num:0.4f}'

'number: 321.3411'

In [75]:
f'number: {num:10.4f}'

'number:   321.3411'

In [76]:
f'number: {num:010.4f}'

'number: 00321.3411'

In [77]:
f'{{ and }}'

'{ and }'

In [78]:
# !!!python!!! 출력
"!!!{0}!!!".format("python")

'!!!python!!!'

In [79]:
"{0:!^12}".format("python")

'!!!python!!!'

In [80]:
f'{"python":!^12}'

'!!!python!!!'

#### 문자열 관련 함수들

In [81]:
# 문자 개수 세기 str.count(char)
a = "hobby"
a.count('b')

2

In [82]:
# 인덱스 알려주기 str.find(char)
data = "Python is the best choice"
data.find('b')

14

In [83]:
data.find('y')

1

In [84]:
ch = 't'
data.find(ch)

2

In [85]:
data.find('k')

-1

In [86]:
# 인덱스 알려주기 str.index(char)
data = "Life is too short"
data.index('t')

8

In [87]:
# data.index('k')
# ValueError

In [88]:
# 문자열 삽입 str.join(str)
",".join("abcd")

'a,b,c,d'

In [89]:
# 리스트와 튜플도 매개변수 입력 가능
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [90]:
# 대문자로 변경 str.upper()
data = "Hi, How are you?"
data.upper()

'HI, HOW ARE YOU?'

In [91]:
# 소문자로 변경 str.lower()
data.lower()

'hi, how are you?'

In [92]:
# 왼쪽 공백(문자) 지우기 str.lstrip([chars])
data = f'{"hi":^12}'
print(data)
data.lstrip()

     hi

'hi     '

In [93]:
star = f'{"hi":*^12}'
print(star)
star.lstrip('*')

*****hi*****

'hi*****'

In [94]:
my_str = f'abcd{"hi"}acdb'
print(my_str)
print(my_str.lstrip("abdc"))

abcdhiacdb
hiacdb

In [95]:
# 오른쪽 공백(문자) 지우기 str.rstrip([chars])
print(data.rstrip())
print(star.rstrip('*'))
print(my_str.rstrip("abcd"))

     hi
*****hi
abcdhi

In [96]:
# 양쪽 공백(문자) 지우기 str.strip([chars])
print(data.strip())
print(star.strip('*'))
print(my_str.strip("abcd"))

hi
hi
hi

In [97]:
# 문자열 대체하기 str.replace(str)
life = "Life is too short"
life.replace("Life", "My arm")

'My arm is too short'

In [98]:
# 문자열 나누기 str.split([char])
life.split()

['Life', 'is', 'too', 'short']

In [99]:
colon = "a:b:c:d"
colon.split(':')

['a', 'b', 'c', 'd']

In [100]:
# .split(str)
mix = "a:.b:c.d"
mix.split(":.")

['a', 'b:c.d']