# python_programming_practice
## Chapter 02. 자료형 (Data types)
### 02-4. 튜플 (tuple)

- 리스트는 `[]`, 튜플은 `()`로 둘러싼다.
- 리스트는 item의 생성, 삭제, 수정이 가능하지만 튜플은 item을 변경할 수 없다

#### 튜플 만들기

In [ ]:
t1 = ()
t2 = (1,) # item이 1개일 때 반드시 뒤에 쉼표(,) 붙여야 한다
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 소괄호() 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

#### 튜플 item 변경 시도

In [3]:
t1 = (1, 2, 'a', 'b')
# del t1[0] > TypeError

In [5]:
# t1[0] = 'c' > TypeError

#### 튜플 다루기

In [6]:
# indexing
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [7]:
t1[2]

'a'

In [8]:
# slicing
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [10]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4) 
t1 + t2 # 새로운 튜플 생성

(1, 2, 'a', 'b', 3, 4)

In [11]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [12]:
# 튜플 길이 구하기 len(tuple)
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [16]:
# 값 추가해서 새로운 튜플 만들기
t1 = (1, 2, 3)
new_tuple = t1 + (4,)
new_tuple

(1, 2, 3, 4)