# Python Programming Practice
## Chapter 04. python io
### 04-1. 함수 (functions)

In [1]:
def add(a, b):
    return a + b

a = 3
b = 4
c = add(3, 4)
print(c)

7

#### 입력값(parameter, argument)과 리턴값에 따른 함수의 형태

In [6]:
# 1. 일반적인 함수
# 입력값과 리턴값 둘 다 존재
def add(a, b):
    return a + b

total = add(3, 4)
print(total)

7

In [3]:
# 2. 입력값이 없는 함수
def say():
    return 'Hi'

action = say()
print(action)

Hi

In [5]:
# 3. 리턴값이 없는 함수
def add_print(a, b):
    print(f'{a}, {b}의 합은 {a + b}입니다.')

add_print(3, 4)

3, 4의 합은 7입니다.

In [7]:
add = add_print(3, 4)
print(add)

3, 4의 합은 7입니다.
None

In [8]:
# 4. 입력값과 리턴값 모두 없는 함수
def say():
    print("Hi")

say()

Hi

#### 매개변수 지정하여 호출

In [9]:
def sub(a, b):
    return a - b

In [10]:
result = sub(a=7, b=2)
print(result)

5

In [11]:
# 순서 상관 없이 parameter 지정 가능
new_result = sub(b=6, a=10)
print(new_result)

4

#### 가변개수 매개변수 *

In [12]:
# 여러개의 입력값을 받는 함수
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

In [15]:
print(add_many(1, 2, 3, 4))
print(add_many(5, 6, 7, 8, 9, 10))

10
45

In [16]:
# *args + 다른 parameter
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    if choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

In [17]:
print(add_mul('add', 1, 2, 3, 4, 5))
print(add_mul('mul', 1, 2, 3, 4, 5))

15
120

#### 키워드 매개변수 `kwargs`
- 매개변수는 `key1 = value1, key2 = value2, ...`형태로 전달
- `kwargs` 변수는 `{key1: value1, key2: value2, ...}` 형태의 딕셔너리

In [18]:
def print_keyword(**kwargs):
    print(kwargs)

In [19]:
print_keyword(a = 1)

{'a': 1}

In [20]:
print_keyword(name = 'Jane', age = 21)

{'name': 'Jane', 'age': 21}

##### 함수의 리턴값은 언제나 하나!

In [21]:
def add_and_mul(a, b):
    return a+b, a*b

In [22]:
result = add_and_mul(3, 4)
print(result, type(result))

(7, 12) <class 'tuple'>

In [23]:
first, second = add_and_mul(2, 3)
print(first)
print(second)

5
6

In [26]:
def add_mul(a, b):
    return a + b
    return a * b # 해당 return은 무시된다

In [27]:
print(add_mul(3, 4))

7

#### 매개변수에 초깃값 미리 설정하기

In [28]:
def say_myself(name, age, man=True):
    print(f'나의 이름은 {name}입니다.')
    print(f'나이는 {age}세 입니다.')
    if man: print('남성입니다.')
    else: print('여성입니다.')

In [29]:
say_myself('김가인', 27)

나의 이름은 김가인입니다.
나이는 27세 입니다.
남성입니다.

In [30]:
say_myself('노나인', 34, True)

나의 이름은 노나인입니다.
나이는 34세 입니다.
남성입니다.

In [31]:
say_myself('박다인', 34, False)

나의 이름은 박다인입니다.
나이는 34세 입니다.
여성입니다.

In [34]:
# 초깃값이 정해진 매개변수는 항상 맨 뒤에 와야한다
# def introduce_myself(name, man=True, age): > SyntaxError
def introduce_myself(name, age = 20, man = True):
    print(f'이름은 {name}이고, {age}세 입니다.')
    if man: print('남성입니다.')
    else: print('여성입니다.')

In [35]:
introduce_myself('최차인')

이름은 최차인이고, 20세 입니다.
남성입니다.

In [36]:
introduce_myself('하하인', 37)

이름은 하하인이고, 37세 입니다.
남성입니다.

In [37]:
introduce_myself('김이박', man=False)

이름은 김이박이고, 20세 입니다.
여성입니다.

#### 함수 안에서 선언한 변수의 효력 범위

In [ ]:
# 함수 안에서 선언한 변수는 함수 안에서만 존재한다
a = 1
def add_a(a):
    a += 1

add_a(a)
print(a)

1

#### 함수 안에서 함수 밖의 변수를 변경하는 방법

In [39]:
# 1. return 사용하기
a = 1
def add_num(a):
    a += 1
    return a

print(add_num(4))

5

In [40]:
# 2. global 명령어 사용하기
a = 2
def add_glob():
    global a
    a += 1

add_glob()
print(a)

3

#### `lambda` 예약어
- `함수_식별자 = lambda 매개변수1, 매개변수2, ... : 매개변수를_이용한_표현식`

In [41]:
def add_def(a, b):
    return a + b

result = add_def(3, 4)
print(result)

7

In [42]:
add_lam = lambda a, b: a + b

new_result = add_lam(5, 6)
print(new_result)

11